# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build
target

# eclipse project file
.settings/
.classpath
.project

# IntelliJ project files
*.iml
*.iws
*.ipr
.idea/
out/

# OS
.DS_Store

# Binaries
*.7z
*.dmg
*.gz
*.iso
*.rar
*.tar
*.zip
*.war
*.ear
*.sar
*.class